<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderBlog | <%= title %></title>
    <!-- since we mentioned static file folder as public, it will check 
    public folder for static files. -->
    <link rel="stylesheet" href="/style.css">
    <style>

    </style>
  </head>