<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h2>Hello Ninjas!</h2></a>        
            <p> A net ninja website</p>
        </div>

    <ul class="li"><a href="/">Blogs</a></ul>
    <ul class="li"><a href="/about">About</a></ul>
    <ul class="li"><a href="/new">New Blog</a></ul>
</nav>

<div class="404 content">
    <h2> Page Not Found.</h2>
</div>
</body>
</html>