<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs')%>

<div class="about content">
    <h2> About Us</h2>
    <p>Welcome to WanderBlog, a haven for wanderlust souls seeking inspiration, tips, and stories from around the globe. Our passion for exploration and cultural immersion drives us to share the beauty of travel and the diverse experiences it brings.</p>
    <p>Embark on virtual journeys through our vivid narratives that capture the essence of each destination. From hidden gems to iconic landmarks, our stories aim to transport you to different corners of the world.</p>
</div>

</body>
<%- include('./partials/footer.ejs')%>
</html>